<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>


<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
<div class="row">
<a href="javascript:;" lk-google-picker on-picked="onPicked" on-loaded="onLoaded" on-cancel="onCancel">
<md-button class="md-raised">Voeg foto's toe</md-button>
</a>

</div>

<div ng-repeat="file in files">
    <img ng-src="{{file.downloadUrl}}" alt="{{file.name}}" height ="200px" margin="2px">
</div>

<div id="links">
    <div ng-repeat="afb in afbeeldingen">
        <a ng-href="{{afb.locatie}}" title="{{afb.titel}}" data-gallery>
            <img ng-src="{{afb.locatie}}" alt="{{afb.beschijving}}" height="200px">
        </a>
    </div>
</div>