<div class="container-fluid">
	<div class ="row">
		<div class =" col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2"
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li ng-repeat = "v in vakanties"data-target="#carousel-example-generic" data-slide-to="{{$index+1}}"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			  	<!--Pieter's catch for non-working js-->
			    <div class="item active" >
			      <img src="https://docs.google.com/uc?export=download&id=0BzxldScJq8bdbGhnX2VyX2ZvYlU&revid=0BzxldScJq8bddmg5Z3pFUEFmbFdUdGJ0QmxQRytHWGx5V3dRPQ" alt="...">
			      <div class="carousel-caption">
			        Zomervakanties
			      </div>
			    </div>
			    <div class="item" ng-repeat="v in vakanties">
			    	<!--foto [0] is coverfoto -->
			      <img ng-src="{{v.foto[0].locatie}}" alt=""> 
			      <div class="carousel-caption">
			        <h2>{{v.titel}}</h2>
			      </div>
			    </div>
			  </div>

			  <!-- Controls -->

			  <a class="left carousel-control" href="/#/#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="/#/#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	</div>

</div>
<div class ="container">
	<p>This is the home view.</p>
	<div class ="dummypanel well">
	</div>
</div>