<div class="row well">
<p>Hier moet nog een filter komen</p>
<form>
	<select class="form-control">
		<option>9-jarigen</option>
		<option>10-jarigen</option>
		<option>11-jarigen</option>
		<option>12-jarigen</option>
		<option>13-jarigen</option>
	</select>
	<input type="checkbox">
</form>


</div>
<div ng-app="LijstCtrl">
	<div class="row">
<div class="col-xs-4" ng-repeat="vakantie in vakanties">
			<a href="#/vakantie/{{vakantie.id}}" class="thumbnail">
			<img ng-src="{{vakantie.cover_foto.locatie}}" width="100%">
			<h3 class="caption">{{vakantie.titel}}</h3>
			</a>
</div>

</div>
<p>TODO Pagination</p>

