<div class="well">
  <h1>Patchnotes</h1>

  <ul>
    <li class ="label label-default">25 juni - Pieter</li>
    <li>Nieuwe view en controller toegevoegd "vakantie"</li>
    <li>Nieuwe controller verbonden met /#/vakantie/gelijkwelketext</li>
    <li><a href="/#/vakantie/558423e968644e085fc70719">
      vakantie 558423e968644e085fc70719</a></li>
    <li class="label label-default">28 juni - Pieter</li>
    <li>Nieuwe view en controller aangemaakt "lijst" (link vakanties)</li>
    <li>Service "nodePieter" toegevoegd die 2 werkwoorden bevat</li>
  </ul>
</div>

<div class="well">

</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
