<div>
    <form name="form" ng-submit="self.subscribe()" role="form" class="form-horizontal">    
        <fieldset>
            <legend>Gegevens van de contactpersoon</legend>
                <div class="col-sm-1"/>
            <label>Rijksregisternummer: </label><p> {{user.rnr}}</p>
            <div class="col-sm-1"/>
                <label>Naam: </label><p> {{user.firstName}} {{user.lastName}}</p>
                            <div class="col-sm-1"/>
                <label>Adres: </label> <p> {{user.street}} {{user.houseNr}} bus {{user.bus}}</p>
                            <div class="col-sm-1"/>
                                        <label/><p> {{user.postalCode}} {{user.city}} </p>
                                               <div class="col-sm-1"/>
        <label>Tel./GSM</label><p>{{user.phoneNumber}}</p>

        <h4>Is de contactpersoon ook de betalende ouder? </h4>
            <div class="form-group">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-9">
                <div class="radio col-sm-4">
                    <label >
                        <input type="radio" id="betaler" ng-value='true'
                               name="isBetalend"
                               ng-model="self.isBetaler"/>
                               Ja
                    </label>
                </div>
                <div class="radio col-sm-5">
                    <label>
                        <input type="radio" id="nietBetaler"
                               ng-model="self.isBetaler" name="isBetalend" ng-value='false' />
                               Nee
                    </label>
                </div>

            </div>
            </div>
        </fieldset> 

        <fieldset>
            <div ng-hide="self.isBetaler">
                <legend>Gegevens van de ouder die betaalt</legend>

            <div class="form-inline" ng-class="{ 'has-error': form.naamBetaler.$dirty && form.naamBetaler.$error.required }">
            <label class="labelForm" for="naamBetaler">Naam</label>
            <input type="text" name="naamBetaler" id="Text1" class="form-control" ng-model="subscrModel.Naam_Betalingspersoon" ng-required="!self.isBetaler" />
            <span ng-show="form.naamBetaler.$dirty && form.naamBetaler.$error.required" class="help-block">Naam is verplicht</span>
        </div>

            <div class="form-inline" ng-class="{ 'has-error': form.adresBetaler.$dirty && form.adresBetaler.$error.required }">
            <label class="labelForm" for="adresBetaler">Adres</label>
            <input placeholder="Straat + HuisNr" type="text" name="adresBetaler" id="Text1" class="form-control" ng-model="AdresBetaler" ng-required="!self.isBetaler" />
            <span ng-show="form.adresBetaler.$dirty && form.adresBetaler.$error.required" class="help-block">Adres is verplicht</span>
        </div>

            <div class="form-inline" ng-class="{ 'has-error': form.stadBetaler.$dirty && form.stadBetaler.$error.required }">
            <label class="labelForm" for="stadBetaler">Gemeente/Stad</label>
            <input placeholder="Postcode + Stad" type="text" name="stadBetaler" id="Text1" class="form-control" ng-model="stadBetaler" ng-required="!self.isBetaler" />
            <span ng-show="form.stadBetaler.$dirty && form.stadBetaler.$error.required" class="help-block">Gemeente/Stad is verplicht</span>

        </div>

        </div>
            
        </fieldset>

        <fieldset>
                <legend>Gegevens van de ouders</legend>

            <div class="form-inline" ng-class="{ 'has-error': form.naamMoeder.$dirty && form.naamMoeder.$error.required }">
            <label class="labelForm" for="naamMoeder">Naam moeder</label>
            <input type="text" name="naamMoeder" id="Text1" class="form-control" ng-model="subscrModel.Naam_Moeder" required />
            <span ng-show="form.naamMoeder.$dirty && form.naamMoeder.$error.required" class="help-block">Naam is verplicht</span>
        </div>

            <div class="form-inline" ng-class="{ 'has-error': form.rijksregisternummerMoeder.$dirty && form.rijksregisternummerMoeder.$error.required || form.rijksregisternummer.$error.rrn || form.rijksregisternummerMoeder.$error.maxlength || form.rijksregisternummerMoeder.$error.minlength}">    
            <label class="labelForm" for="rijksregisternummerMoeder">Rijksregisternummer moeder</label>      
            <input placeholder="vb. 92110532975" class="form-control" ng-minlength= "11" ng-maxlength="11" type="text" name="rijksregisternummerMoeder" id="Text1" class="form-control" ng-model="subscrModel.Rijksregisternummer_moeder" required rrn />
            <span ng-show="form.rijksregisternummerMoeder.$dirty && form.rijksregisternummerMoeder.$error.required" class="help-block">Rijksregisternummer is verplicht</span>
            <span ng-show="form.rijksregisternummerMoeder.$dirty && form.rijksregisternummerMoeder.$error.rrn || form.rijksregisternummerMoeder.$error.maxlength || form.rijksregisternummerMoeder.$error.minlength" class="help-block">Geen geldig rijksregisternummer</span>
        </div>

         <div class="form-inline" ng-class="{ 'has-error': form.naamVader.$dirty && form.naamVader.$error.required }">
            <label class="labelForm" for="naamVader">Naam vader</label>
            <input type="text" name="naamVader" id="Text1" class="form-control" ng-model="subscrModel.Naam_Vader" required/>
            <span ng-show="form.naamVader.$dirty && form.naamVader.$error.required" class="help-block">Naam is verplicht</span>
        </div>

            <div class="form-inline" ng-class="{ 'has-error': form.rrnVader.$dirty && form.rrnVader.$error.required || form.rrnVader.$error.rrn || form.rrnVader.$error.maxlength || form.rrnVader.$error.minlength}">    
            <label class="labelForm" for="rrnVader">Rijksregisternummer vader</label>      
            <input placeholder="vb. 92110532975" class="form-control" ng-minlength= "11" ng-maxlength="11" type="text" name="rrnVader" id="Text1" class="form-control" ng-model="subscrModel.Rijksregisternummer_Vader" required rrn />
            <span ng-show="form.rrnVader.$dirty && form.rrnVader.$error.required" class="help-block">Rijksregisternummer is verplicht</span>
            <span ng-show="form.rrnVader.$dirty && form.rrnVader.$error.rrn || form.rrnVader.$error.maxlength || form.rrnVader.$error.minlength" class="help-block">Geen geldig rijksregisternummer</span>
        </div>

        </fieldset>

        <fieldset>
            <legend>Gegevens van de deelnemer</legend>

        <div class="form-inline" ng-class="{ 'has-error': form.rijksregisternummer.$dirty && form.rijksregisternummer.$error.required || form.rijksregisternummer.$error.rrn || form.rijksregisternummer.$error.maxlength || form.rijksregisternummer.$error.minlength}">    
            <label class="labelForm" for="rijksregisternummer">Rijksregisternummer</label>      
            <input placeholder="vb. 92110532975" class="form-control" ng-minlength= "11" ng-maxlength="11" type="text" name="rijksregisternummer" id="Text1" class="form-control" ng-model="subscrModel.Rijksregisternummer_Vakantieganger" required rrn />
            <span ng-show="form.rijksregisternummer.$dirty && form.rijksregisternummer.$error.required" class="help-block">Rijksregisternummer is verplicht</span>
            <span ng-show="form.rijksregisternummer.$dirty && form.rijksregisternummer.$error.rrn || form.rijksregisternummer.$error.maxlength || form.rijksregisternummer.$error.minlength" class="help-block">Geen geldig rijksregisternummer</span>
        </div>

        <div class="form-inline" ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
            <label class="labelForm" for="firstname">Voornaam</label>
            <input type="text" name="firstname" id="Text1" class="form-control" ng-model="subscrModel.Voornaam" required />
            <span ng-show="form.firstname.$dirty && form.firstname.$error.required" class="help-block">Voornaam is verplicht</span>
        </div>

        <div class="form-inline" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label class="labelForm" for="lastName">Naam</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="subscrModel.Naam" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Naam is verplicht</span>
        </div>

        <div class="form-inline" ng-class="{ 'has-error': form.street.$dirty && form.street.$error.required }">
            <label class="labelForm" for="street">Straat</label>
            <input type="text" name="street" id="Text1" class="form-control" ng-model="subscrModel.Straat" required />
            <span ng-show="form.street.$dirty && form.street.$error.required" class="help-block">Straat is verplicht</span>
        </div>

        <div class="form-inline" ng-class="{ 'has-error': form.nr.$dirty && form.nr.$error.required}">
            <label  class="labelForm" for="nr">Nr.</label>
            <input type="number" name="nr" id="Text1" class="form-control" ng-model="subscrModel.Nr" required />
            <span ng-show="form.nr.$dirty && form.nr.$error.required" class="help-block">Nr. is verplicht</span>
        </div>

        <div class="form-inline" ng-class="{ 'has-error': form.gemeente.$dirty && form.gemeente.$error.required }">
            <label class="labelForm" for="gemeente">Gemeente</label>
            <input type="text" name="gemeente" id="Text1" class="form-control" ng-model="subscrModel.Gemeente" required />
            <span ng-show="form.gemeente.$dirty && form.gemeente.$error.required" class="help-block">Gemeente is verplicht</span>
        </div>

        <div class=" form-inline" ng-class="{ 'has-error': form.postcode.$dirty && form.postcode.$error.required || form.postcode.$error.min || form.postcode.$error.max}">
            <label class="labelForm" for="postcode">Postcode</label>
            <input type="number" min="8000" max="8999" name="postcode" id="Text1" class="form-control" ng-model="subscrModel.Postcode" required />
            <span ng-show="form.postcode.$dirty && form.postcode.$error.required" class="help-block">Postcode is verplicht</span>
            <span ng-show="form.postcode.$dirty && form.postcode.$error.min || form.postcode.$error.max" class="help-block">Postcode moet tussen 8000 en 8999 liggen</span>
        </div>

        <div class="form-inline" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required || form.email.$error.email}">
            <label class="labelForm" for="email">E-mail</label>
            <input type="email" name="email" id="Text1" class="form-control" ng-model="Email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">E-mail is verplicht</span>
            <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">E-mail is niet correct</span>
        </div>

        <div class="form-inline" ng-class="{ 'has-error': form.tel.$dirty && form.tel.$error.required }">
            <label class="labelForm" for="tel">Tel. of GSM</label>
            <input type="text" name="tel" id="Text1" class="form-control" ng-model="subscrModel.Tel" required />
            <span ng-show="form.tel.$dirty && form.tel.$error.required" class="help-block">Tel. of GSM is verplicht</span>
        </div>

        <div class="form-inline" ng-class="{ 'has-error': form.birthdate.$dirty && form.birthdate.$error.required }">
            <label class="labelForm" for="birthdate">Geboortedatum</label>
      <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="birthdate" is-open="status.opened" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <span ng-show="form.birthdate.$dirty && form.birthdate.$error.required" class="help-block">Voornaam is verplicht</span>
        </div>
        </fieldset>

 
        <div class="form-actions">
            <button type="submit" ng-click="subscribe()"ng-disabled="form.$invalid || self.dataLoading" class="btn btn-primary">Inschrijven</button>
            <img ng-if="self.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#/home" class="btn btn-link">Annuleer</a>
        </div>
    </form> 
</div>


        

